# Build
build/
out/
cmake-build-*/
*.exe
*.out
*.app

# IDE
.vs/
.vscode/
*.suo
*.user
*.sln.docstates

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt

# Compiler
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
*.pdb
*.ilk

# Install
install/

# Cache
.cache/
